!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Корзина / Sneyk
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_header.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_nav.haml')).render
    
    %main#main.main{role: "main"}
      %section.section{role: "region", "aria-label" => ""}
        .ctn
                  
      = Haml::Engine.new(File.read('views/layouts/_recently.haml')).render
      = Haml::Engine.new(File.read('views/layouts/_brand.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_footer.haml')).render